  <footer class="page-footer b1">
    <div class="container b2">
      <div class="row">
        <div class="col s12 m6">
          <p class="grey-text text-lighten-4">
            <strong>Dirección</strong>Av. Simón Bolívar Nro 36-44 Centro Administrativo Municipal CAM Piso1.
            <br>
            Entrada Posterior.
            <br>
            Teléfono: 606-3322109-Codigo Postal 661001
            <br>
            Correo Electrónico: serviciu@serviciudad.gov.co
            <br>
            URL: <a href="http://www.serviciudad.gov.co">http://www.serviciudad.gov.co</a>.
            <br><br><br>
            <strong>Horarios de Atención</strong>
            Lunes a Viernes de 7:30 AM A 3:00 PM.
          </p>
          <br>
          <h6><a href="https://www.serviciudad.gov.co/docweb/varios/Preguntas_frecuentes_pse.pdf">Preguntas Frecuentres</a></h6>  
          <h6><a href="https://www.serviciudad.gov.co/docweb/varios/Terminos_condiciones_pse.pdf">Terminos y Condiciones</a></h6>

        </div>
        <div class="col s12 m6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1987.806290198881!2d-75.680236!3d4.836397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5ec75b61353ab55!2sSERVICIUDAD%20ESP!5e0!3m2!1ses!2sco!4v1639757288781!5m2!1ses!2sco" class="mapa" allowfullscreen="" loading="lazy"></iframe>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright white">
      <div class="container">
      <p class="b2">
         © 2023 Todos los Derechos Reservados
        <br>
      </p>
      </div>
    </div>
  </footer>
  