<!--<nav class="servihe navbar navbar-light bg-light" role="navigation">-->
<nav class="servihe" role="navigation">
    <div class="row center">
        <div class="col s6 ">
          <div class="centerBlock">
                <a id="logo-container" href="https://www.serviciudad.gov.co">
                    <img src="assets/images/logo2.PNG" class="iresp" />
                </a>
            </div>
        </div>
        <div class="col s6">
            <div>
                <a id="logo-container" href="https://www.placetopay.com/web/">
                    <img src="https://static.placetopay.com/placetopay-logo.svg" class="attachment-0x0 size-0x0 iresp2" alt="" loading="lazy">
                </a>
            </div>
        </div>
    </div>

</nav>
