<div class="section no-pad-bot" id="index-banner">
  <div class="container">

    <app-payment-instructions></app-payment-instructions>

    @if (consultarFacturasService.facturas() && consultarFacturasService.facturas().length > 0) {
      <app-cancelpayment></app-cancelpayment>
    }

    @if (consultarFacturasService.facturas() && consultarFacturasService.facturas().length == 0) {
      <app-formulario-seleccion-cuenta></app-formulario-seleccion-cuenta>
    }
    @if (consultarFacturasService.facturas() && consultarFacturasService.facturas().length > 0) {
      <app-facturas-con-saldo></app-facturas-con-saldo>
    }
  </div>
