<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row center">
      <div class="col s12 m2">
        <div class="centerBlock">
        </div> 
      </div>
      <div class="col s12 m8">
        <div class="centerBlock">
          <h4 class="center ">REALICE EL PAGO DE SU FACTURA AQUÍ DE FORMA ÁGIL Y SEGURA A TRAVÉS DE<strong></strong></h4>
        </div>
      </div>
      <div class="col s12 m1">
        <div class="centerBlock">
        <img class="img-responsive" src="assets/images/pagopse.png">
      </div>  
    </div>
    <div class="row center">
      <img src="assets/images/paso1.png" class="iresp" />
      
      <p class="servi1">Digite en la casilla el <strong>número de cuenta de usuario</strong> que se encuentra en la sección del Usuario de SERVICIUDAD E.S.P.</p>
    </div>

    <div class="row center">
      <form [formGroup]="facturaFormGroup">
        <div>
          <div>
            <ng-template matStepLabel>Selecciona tu servicio</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Cuenta</mat-label>
              <input matInput formControlName="codsuscrip" placeholder="Digite el número de documento de la factura" maxlength="14" required>
            </mat-form-field>
          </div>
  
          <div class="div_botones">
            <button mat-button matStepperNext [disabled]="loading && !facturaFormGroup.valid" class="btn-large waves-effect waves-light servi element" (click)="continuar()">
              Continuar
            </button>
            <mat-spinner [diameter]="50" class="element" *ngIf="loading"></mat-spinner>
          </div>

        </div>
        
      </form>

      <div  class="row center">
        <div *ngIf="facturas" class="row center">
          <div>
            <h1>Facturas pendientes de pago </h1>
            <table>
                <thead>
                    <tr>
                        <th>Numero de factura</th>
                        <th>Tipo de factura</th>
                        <th>Valor total</th>
                        <th>Fecha de pago</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let factura of facturas">
                        <th>{{ factura.idfactura }}</th>
                        <th>{{ getDescripciontipofactura(factura.tipofact) }}</th>
                        <td>{{ factura.totalfactura | number}}</td>
                        <td>{{ factura.fechapago }}</td>
    
                        <td>
                          <button mat-button matStepperNext [disabled]="loading" class="btn-large waves-effect waves-light servi">Descargar Factura</button>
                        </td>
                        <td>
                          <button mat-button matStepperNext [disabled]="loading" class="btn-large waves-effect waves-light servi">Confirmar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>
</div>
