<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <app-stepper [step]="3" ></app-stepper>

      <app-mensaje-gracias-usar-servicios></app-mensaje-gracias-usar-servicios>

      @if (service.pagoResponse()) {
        <div class="row center">
            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">Estado de la Transacción</label>
              </div>
              <div class="input-field col s4">
                <label for="icon_prefix">{{ service.pagoResponse()?.status }}</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">CUS</label>
              </div>
              <div class="input-field col s4"> {{ service.pagoResponse()?.authorization }}
              </div>
            </div>

            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">Cuenta</label>
              </div>
              <div class="input-field col s4"> {{ service.pagoResponse()?.cuenta }}
              </div>
            </div>

            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">Número de factura</label>
              </div>
              <div class="input-field col s4"> {{ service.pagoResponse()?.reference }}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">Empresa</label>
              </div>
              <div class="input-field col s4">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">Descripción</label>
              </div>
              <div class="input-field col s4">
                <label for="icon_prefix">{{ service.pagoResponse()?.message }}</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">Valor de la Transacción</label>
              </div>
              <div class="input-field col s4">
                <label for="icon_prefix">{{ service.pagoResponse()?.currency }} {{ service.pagoResponse()?.total | number }}</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s4">
                <label for="icon_prefix">Fecha de Transacción</label>
              </div>
              <div class="input-field col s4">
                <label for="icon_prefix">{{ service.pagoResponse()?.date }}</label>
              </div>
            </div>
            <a href="https://www.serviciudad.gov.co" id="download-button" class="btn-large waves-effect waves-light servi">Salir</a>
            <a *ngIf="false" href="index.html" id="download-button" class="btn-large waves-effect waves-light servi">Imprimir</a>
        </div>
      }
    </div>
</div>

