<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <div class="col s12 m2">
          <div class="centerBlock">
          </div> 
        </div>
        <div class="col s12">
          <div class="centerBlock">
            <h4 class="header center "><strong>GRACIAS POR USAR NUESTRO SERVICIO DE PSE. LOS SIGUIENTES SON LOS DATOS DE LA TRANSACCIÓN</strong></h4>
          </div>
        </div>
          
      </div>
      
      <div class="row center">
        <img src="assets/images/paso3.png" class="iresp" />
        <br>
      </div>
      
      <div class="row">
        <div class="input-field col s4"> 
          <mat-spinner [diameter]="50" class="element" *ngIf="loading"></mat-spinner>
        </div>
      </div>

      <div *ngIf="!loading" class="row center">
          <div class="row">
            <div class="input-field col s4"> 
              <label for="icon_prefix">Estado de la Transacción</label>
            </div>
            <div class="input-field col s4">
              <label for="icon_prefix">{{ respuesta.status }}</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <label for="icon_prefix">CUS</label>
            </div>
            <div class="input-field col s4"> {{ respuesta.authorization }}
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <label for="icon_prefix">Cuenta</label>
            </div>
            <div class="input-field col s4"> {{ respuesta.cuenta }}
            </div>
          </div>

          <div class="row">
            <div class="input-field col s4">
              <label for="icon_prefix">Numero de factura</label>
            </div>
            <div class="input-field col s4"> {{ respuesta.reference }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <label for="icon_prefix">Empresa</label>
            </div>
            <div class="input-field col s4"> 
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4"> 
              <label for="icon_prefix">Descripción</label>
            </div>
            <div class="input-field col s4">
              <label for="icon_prefix">{{ respuesta.message }}</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <label for="icon_prefix">Valor de la Transacción</label>
            </div>
            <div class="input-field col s4"> 
              <label for="icon_prefix">{{ respuesta.currency }} {{ respuesta.total | number }}</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4"> 
              <label for="icon_prefix">Fecha de Transacción</label>
            </div>
            <div class="input-field col s4">
              <label for="icon_prefix">{{ respuesta.date }}</label>
            </div>
          </div>
          <a href="https://www.serviciudad.gov.co" id="download-button" class="btn-large waves-effect waves-light servi">Salir</a>
          <a *ngIf="false" href="index.html" id="download-button" class="btn-large waves-effect waves-light servi">Imprimir</a>
      </div>

    </div>
</div>

