/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 h4 {
  font-size: 3vw;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.servi1 {
  color:  #0079ba;
  font-size: 2vw;
  padding: 0px 100px;
 }
.servihe{
  background-color:  #0079ba;
  height: 120px;
}
.servi{
  background-color:  #0079ba;
  margin-top: 25px;
}

.b1{
  background-color: #0F0F0F;
}
.b2{
  color: black;
}
.iresp {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 0;
}
.iresp2{
  display: block;
  margin: 0 auto;
  max-width: 350px;
  padding: 10px 0
}
.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.text-center {
  text-align:center
}